<footer class="page-footer font-small bg-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a
              href="https://www.linkedin.com/company/urbana-pe/?originalSubdomain=br"
              target="_blank"
              class="icoLinkedIn"
            >
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a
              href="http://www.urbana-pe.com.br/"
              target="_blank"
              class="iconSite"
            >
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </a>
            <a
              href="https://web.facebook.com/urbanapetransporte/?_rdc=1&_rdr"
              target="_blank"
              class="icoFacebook"
            >
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">
      © 2022 Copyright: Théo Nogueira Programador SpringBoot Java web Jr.
    </span>
  </div>
</footer>
